/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* цвет фона секции "Наша команда" #F5F4FA */

/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
  --filter-button-text-color: #212121;
  --filter-button-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-clolr: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

/* logo */
.logo-link {
  color: #000000;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}

/* nav */
.link {
  text-decoration: none;
  color: #000000;
}
.list {
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.section-title {
  color: var(--title-text-clolr);
}
.link.current {
  color: var(--accent-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-clolr);
}

/* examples */

/* Button */

.button {
  color: var(--title-text-clolr);
  background-color: var(--primary-bg-color);

  font-size: 18px;
  padding: 9px 18px;
  display: inline-block;
  border: 1px solid black;
}

.button.hero {
  color: #ffffff;
  background-color: var(--accent-color);
  border-color: transparent;
}

.button.filter {
  color: var(--filter-button-text-color);
  background-color: var(--filter-button-bg-color);
  border-color: transparent;
}

.button.filter:hover,
.button.filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.link-projects {
  text-decoration: none;
  color: #000000;