/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* цвет фона секции "Наша команда" #F5F4FA */
/* цвет фона скции футер #2F303A */

/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
  --filter-button-text-color: #212121;
  --filter-button-bg-color: #f5f4fa;

  --primary-text-color: #757575;
  --title-text-clolr: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;

  --primary-text-style: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: var(--primary-text-style);
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: #000000;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  padding: 0 15px;

  outline: 2px solid blueviolet;
}

/* header */

.header-section {
  background-color: #ffffff;
}
.container-header-flex {
  align-items: center;
  display: flex;
}
/* .container-header-flex > ul {
  margin-left: 331px;
} */

.list.mail.tel {
  margin-left: auto;
}

/* nav */

.nav {
  display: flex;
  align-items: center;
}

/* .nav > a {
  margin-right: 93px;
} */

/* .list.nav {
  align-items: stretch;
} */
.list.nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list.nav li:not(:last-child) {
  margin-right: 50px;
}

.list.mail.tel {
  display: flex;
}

.list.mail.tel .item + .item {
  margin-left: 50px;
  display: block;
}

/* .list.mail.tel li {
  margin-bottom: 32px;
  margin-top: 32px;
  margin-left: 50px;
} */

.link.current {
  color: var(--accent-color);
}

/* logo  */

.logo-link {
  /* margin-top: 24px;
  margin-bottom: 25px; */
  margin-right: 93px;
  display: flex;
  color: #000000;
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
/* border */

.border {
  border: 1px solid #ececec;
}

/* hero */

.hero {
  margin-bottom: 94px;
  text-align: center;

  outline: 1px solid coral;
  /* background-color: tomato; */
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-clolr);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button hero */

.hero-button {
  border: 0;
  padding: 10px 32px;
  border-radius: 4px;

  color: #ffffff;
  background-color: var(--accent-color);
  border-color: transparent;
  /* font-family: inherit; */
  /* font-family: Roboto, sans-serif; */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: inline-block;
  /* display: flex;
  align-items: center; */
  /* text-align: center; */
  letter-spacing: 0.06em;
}

/* Features */
.features {
  background-color: #ffffff;
  margin-bottom: 94px;

  outline: 1px solid coral;
}

.feature-list h3 {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-clolr);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.feature-list p {
  margin-top: 0px;
  margin-bottom: 94px;

  font-size: 14px;
  line-height: 1.71;
}

/* workpage  */
.workpage {
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 94px;
  outline: 1px solid coral;
}
.workpage img {
  display: block;
}

.workpage-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-clolr);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* team */

.team.container {
}

.team.section {
  background-color: #f5f4fa;
  padding: 94px 0px;
  outline: 1px solid coral;
}
.team.section img {
  display: block;
}

.team.section p {
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  text-align: center;
}

.team-section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-clolr);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  margin: 0;
  color: var(--title-text-clolr);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* button filter */

.button-filter {
  min-width: 73px;
  border: 0;
  border-radius: 4px;
  color: var(--filter-button-text-color);
  background-color: var(--filter-button-bg-color);
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  display: inline-block;

  text-align: center;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio */

.portfolio-section {
  background-color: #e5e5e5;
  outline: 1px solid coral;
}

/* projects */

.projects-link {
  text-decoration: none;
  color: #000000;
}
.projects-link img {
  display: block;
}

.projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.projects p {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}

/* footer */

.footer-section {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* adress */
.adress-description {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: #ffffff;
}
.mail {
  margin: 0;
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}
.tel {
  margin: 0;
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}
