/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* цвет фона секции "Наша команда" #F5F4FA */
/* цвет фона скции футер #2F303A */

/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
  --filter-button-text-color: #212121;
  --filter-button-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-clolr: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* section */

.section-title {
  color: var(--title-text-clolr);
}

/* logo  */
.logo-link {
  color: #000000;
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}

/* nav */

.link.current {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  color: #000000;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* hero */

.section-title-hero {
  color: var(--title-text-clolr);
  font-family: Roboto, sans-serif;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.button {
  color: var(--title-text-clolr);
  background-color: var(--primary-bg-color);

  font-family: inherit;

  font-size: 18px;
  padding: 9px 18px;
  display: inline-block;
  border: 1px solid black;
}

/* button hero */

.button.hero {
  color: #ffffff;
  background-color: var(--accent-color);
  border-color: transparent;
  font-family: Roboto, sans-serif;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Features */

.feature-list .title {
  color: var(--title-text-clolr);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.feature-list p {
  font-size: 14px;
  line-height: 1.71;
}

/* work page  */

.section-title-work {
  color: var(--title-text-clolr);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-title-name {
  color: var(--title-text-clolr);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* team */
.section.team {
  background-color: #f5f4fa;
}

.section.team p {
  color: var(--title-text-clolr);
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.section-title-team {
  color: var(--title-text-clolr);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-title-name {
  color: var(--title-text-clolr);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* examples */

/* button filter */

.button.filter {
  color: var(--filter-button-text-color);
  background-color: var(--filter-button-bg-color);
  border-color: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
}

.button.filter:hover,
.button.filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* projects */

.link-projects {
  text-decoration: none;
  color: #000000;
}
.projects-title h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.projects-text p {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

/* footer */

.footer-page {
  background-color: #2f303a;
}
.logo-link-footer {
  color: #ffffff;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* adress */
.adress-description {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  color: #ffffff;
}
.mail {
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}
.tel {
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}
